# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.so
fyers_logs/

# Environments
.venv/
venv/
env/
.env

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.swo

# Logs
*.log

# Database
*.sqlite3
*.db

# Specific to this project
files.txt
ideas.txt
PRD.md


# OS-specific files
.DS_Store
Thumbs.db
